
<div class="center">
  <section id="content">
    <h1>{{msg}}</h1>
    <form class="mid-form" #articleForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
          <label for="nombre">Titulo</label>
          <input type="text" name="nombre" #title="ngModel" [(ngModel)]="article.title" 
          required />
        <small *ngIf="!title.valid && title.touched">
          no es valido
        </small>
      </div>

      <div class="form-group">
          <label for="content">Content</label>
          <textarea name="Content" #bio="ngModel" [(ngModel)]="article.content"></textarea>
      </div>

      <div class="form-group">
          <div  class="image-thumb" *ngIf="isedit" >
            <img src="{{url+'/getimage/'+article.image}}" alt="{{article.image}}" *ngIf="article.image">
            <img src="assets/images/ima_park.jpeg" alt="{{article.image}}" *ngIf="!article.image">
        </div>
        <angular-file-uploader
          [config]="afuConfig"
          (ApiResponse)="imageUpload($event)"
          >
        </angular-file-uploader>
    
    </div>

      <div class="clearfix"></div>

      <input type="submit" value="Guardar" class="btn btn-success" [disabled]="articleForm.invalid"/>
 </form>
  </section>
  <app-sidebar></app-sidebar>
</div>


